body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}
.nav-bar {
    position:relative;
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 850px;
    top:40px;
    transform: translateY(-50%);
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-bar a {
    margin-left: 10px;
    color: white;
    text-decoration: none; 
    border-style: solid;
    border-color: transparent;
}

.head{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 22vh;
    align-items: center;
    color:white;
    font-size: large;
    
}
.logo{
    width:20vw;
}
.head h3{
    font-size: 2em;
    color:whitesmoke;
    font-weight: lighter;
    justify-content: center;
    text-align:center;
}
.zi{
    font-size: 2.5 rem;
    font-weight: lighter;
    text-align: center;
    margin:50px;
    color:rgb(97, 95, 95);
}
.sec-1{
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    color:rgb(56,56,56);
}
.sec-2{
    display:grid;
    justify-content: center;
    grid-column-gap:20px;
    grid-row-gap: 30px;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: auto;
}
.box-1{
    border:3px solid rgb(235,233,233);
    box-shadow: 0 1px 3px rgb(236,223,223);
    width:340px;
    height:60px;
    overflow: hidden;
    border-radius: 10px;
}
.box-1 div{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
}
.box-1 div span{
    color:rgb(146, 146, 144);
    font-size: 1.2rem;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.gol img{
    width:128px;
    height:32px;
}

.footer {
    background-color: rgba(229, 229, 233, 0.815);
}
.sec-3{
    padding:40px 110px;
    background-color: rgba(229, 229, 233, 0.815);
    margin-top: 20px;
}
.gol{
    display: flex;
    justify-content: space-between;
}
.gol-1{
    display:flex;
    padding: 1px;
    background-color:rgb(238, 238, 243);
    border-radius:7px;
}
.flage img{
    width: 30px;
}
.flage{
    border: 1px solid rgb(69, 62, 62);
    padding: 2px;
    margin-right: 5 px;
    border-spacing: 15px;
    border-radius:5px;
}
.globe img{
    width: 30px;
}
.globe{
    border:1px solid rgb(97, 89, 89);
    padding:2px;
    margin-left: 10px;
    border-radius:5px;
}
.gol-1 span{
    padding:10px;
    border:1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 400;
}
.gol-1 span img {
    max-width: 27px;
    max-height: 27px;
    vertical-align: middle;
    margin-bottom: -3px;
}
.gol-1 span img i{
    max-width: 27px;
    max-height: 27px;
    vertical-align: middle;
    margin-bottom: -3px;
}
.gol-2{
    display:flex;
    justify-content: space-around;
    margin:30px 0;
}
.gol-2 div{
    width:200px;
}
.gol-2 h4{
    font-weight:lighter;
    color:rgb(22,22,22);
    white-space: nowrap;
    font-size: medium;
    font-style:initial;
}
.gol-2 a{
    display:inline-block;
    width:200px;
    margin-bottom:7px;
    white-space:nowrap;
    text-decoration: none;
    color:grey;
    font-size: 0.9rem;
}
.gol-2 img{
    width:137px;
    height:40px;
    margin-top:11px;
    cursor:pointer;
}
.box-2{
    display:flex;
    flex-direction: column;
}
.box-2 i{
    margin-left: 5px;
    margin-bottom: 5px;
    background-color:  rgba(229, 229, 233, 0.815);
}
.gol-3{
    padding:10px 0;
    color:rgba(146, 146, 146, 0.856);
    font-size:0.9em;
}
.footer{
    background-color: (248, 248, 248);
}
