
* {
    font-family: 'Okra, Helvetica', sans-serif;
}

.container1 {
    position: relative;
    text-align: left;

}

.logo-container {
    position: absolute;
    top: 20px;
    left: 320px;
    z-index: 1;
}
.logo {
    width: 180px;
    height: 70px;
}
.hm1 {
    position: relative;
    top: -60px;
    left:860px;
    font-size:1.7rem;
}
.hm1 a {
    margin-left: 200px;
    text-decoration: none;
    color:white;
}
.hm2 {
    position: relative;
    left:1250px;
    top:-98px;
    font-size:1.6rem;
}

.hm2 button.login{
    text-decoration:none;
    margin-right: 10px;
    color:white;
    background-color:transparent;
    border-radius:5px;
    border-color: white;
}

.container1 h1 {
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
}
.container1 h4{
    position:absolute;
    top: 48%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
}

.button {
    position: absolute;
    top: 390px;
    left: 940px;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
    font-size:22px;

}

.button .lo {
    background-color: #2781E7;
    width: 530px;
    height: 75px;
    border-radius: 10px;
    border-color: #2781E7;
    color: white;
}

.button .lo1 {
    width: 530px;
    height: 75px;
    border-radius: 10px;
    color: grey;
    background-color: white;
}

.log {
    position: absolute;
    top: 480px;
    left: 610px;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-size: 22px;
}

.main_image {
    height: 650px;
    width: 100%;
}
.container2 {
    background-color:rgb(244,244,244);
    position: absolute;
    color: #000;
    padding: 30px;
    display: flex;
    width:100%;
    height:500px;
    flex-direction: column;
    justify-content:center;
    position:absolute;
    margin-bottom:80px;
}
.hm3 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    margin-left:400px;
    width:1080px;
    height:200px;
    margin-top:-60px;;
    background-color: white;
    border-radius: 6px;

}
.hm3 h2 {
    margin-top:25px;
    font-size: 45px;
    letter-spacing: 1px;
    color: var(--textcolor_heading);
}
.hm3 p {
    margin-top:-10px;
    padding-top: 7px;
    font-size: 26px;
    color: grey;

}

.steps{ 
    display: flex;
    justify-content: space-around;
    border-radius: 12px;
    margin-left:400px;
    margin-top: -5px;
    height:800px;
    width:1080px;
    gap: 3px;
    padding: 3px;
    background-color: white;

}
.scam i{
    color:green;
}
.scam p{
    font-size: 24px;
    margin-top:8px;
    margin-left: -45px;
    margin-bottom: 50px;
}

.heading{
    font-size:2.4rem;
    margin-top:20px;
    margin-left:320px;
} 
.para {
    font-size: 20px;
    color: #696969;
    margin-left: 27%;
    width: 52%;
    font-weight: 450;
    padding-top: 1%;
}

.container3 {
    margin-top: 550px;
    margin-left: -90px;
    height:650px;
    width: 100%;
    padding: 20px;
    border: white;
    background-color: white;
    align-items: center;
    box-sizing: content-box;
    
} 


.content {
    text-align: center;
    margin-bottom: 20px;
}

.heading {
    color: #333;
    font-size: 4.1rem;
    margin-top: 60px;
    line-height: 80px;
    font-weight: 500;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.para {
    font-size: 30px;
    color: #696969;
    line-height: 50px;
    margin-left: 470px;
    width: 60%;
    font-weight: 450;
    padding-top: 1%;
}

.main{
    margin-left: 20%;
    display: flex;
    margin-top: 5%;
}

.container3 .row {
    flex: 1;
}

.container3 .card {
    position: relative;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
    width: 390px;
    height: 90px;
    left: -10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    top: 10px;
}

.container3 .snap{
    margin-left: 0px;
}

.card .heading1 {
    color: #2781E7;
    font-weight: 450;
    margin: 10px 0;
    margin-top: -40px;
    font-size: 35px;
}

 .card .apna-desh {
    color: #696969;
    font-size: 25px;
    font-weight: 390;
    margin: -10px 0;
    margin-top: -10px;
    margin-left: 10px;
}

/* container 4 */

.container4 {
    padding: 20px;
    border: white; 
    background-color: white;
    align-items: center;
    box-sizing: content-box;
}

.container4 .card{
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 12px;
    margin-left:-10px;
    width:65%;
    height:470px;
    background-color: #fff;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;  
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
} 

.card .rose {
    margin-top: 50px;
    background-color:rgb(250, 244, 244);
    border-radius:100px;
    border-width: 0px;
    width:190px;
    height:190px;
}
.card h4{
    margin-top:56px;
    font-size: 35px; 
}

.card h5{
    font-size: 25px;
    color:darkslategray;
}

.card p{
    font-size: 20px;
    color:#696969;

}

.image img.snap2 {
    width: 100%;
    height: auto;
}

.container4 .works {
    font-size: 52px; 
    margin-top: -370px;
    margin-left:800px;
}

.main1 {
    margin-left: 17%;
    display: flex;
    margin-top: 4%;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px;
    border-radius: 10px;  
}

/* container5 */

.container5 {
    background-color: rgb(238, 234, 234);
    width: 100%;
    height: 500px;
}

.container5 .city {
    position: relative;
    margin-top:110px;
}

.container5 .city h1{
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 60px;
}
.container5 .city h4{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size:30px;
    color: #9c9696;
}

.search-bar input[type="text"]{
    position: absolute;
    top: 350px;
    left: 23.5%;
    width:310px;
    height:70px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border: #fff;
    text-align: center;
    border-radius: 9px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}


.search-bar i {
    position: absolute;
    left: 340px; 
    top: 350px;
    transform: translateY(-50%);
    color: #ddd;
    font-size: 30px;

}


.search-bar1 input[type="text"] {
    position: absolute;
    top: 350px;
    left: 55%;
    width:950px;
    height:70px;
    font-size: 25px;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border: #fff;
    border-radius: 9px;
    text-align:center;
   
}

/* container6 */

.container6{
    width:100%;
    height:800px;
    margin-top:200px;   
}

.all{
    width:fit-content;
    height:800px;
    background-color:white;
    padding:5% 3% 5% 3%;
    border-radius: 25px;
    margin-left:150px;
}

.scroll-container{
    display:flex;
    flex-direction:row;
    column-gap: 30px;
    overflow-x:scroll;
    border:3px solid black;
    padding:0;
}

.child{
    text-align: center;
    border: 1px solid white;
    margin-left:-10px;
    width:100%;
    height:470px;
    background-color: #fff;  
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px black;
}

/* container7 */

.container7 {
    position: relative;
    text-align: center;
    height:600px;
}

.zoom {
    position: relative;
    
}

.journey {
    display: block;
    width: 60%; 
    height:300px;
    margin-left:300px;
    margin-top: 150px;
    
}

.page {
    position: absolute;
    z-index: 1; 
    color: white; 
    
}

.page h1 {
    font-size: 54px; 
    margin-top: 40px;
    margin-left: 340px;
}

.page p {
    font-size: 23px;
    margin-top: 24px;
    margin-left: 220px;  
} 

.start {
    position: relative;
    left: 1250px;
    top: -98px;
    font-size: 1.6rem;
}

.start button.start-now {
    text-decoration: none;
    margin-right: 10px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
}
